*
{
    margin: 0;
    padding: 0;
    font-family:' georgia regular';
}
.shadow-dark
 {
     box-shadow: 0 0 20px black;
 }
.main
{
  min-height: 1000px;
  width: 100%;
 
}
.header-area
{
    height: 50px;
    width: 100%;
    background: #ba2e1f;
}
 .header-manu
 {
   margin-left: -10px;
 }
.header-manu ul li
{
    display: inline-block;
}
.header-manu ul li a
{
  line-height: 50px;
  color: white;
  padding: 0 10px;
  border-left: 1px solid #fff;
  text-decoration: none;
  
}
#fast-on
{
  border-left: 0;
  padding-left: 0;
}
.search-button input[type=text]
{
  margin: 13px 20px;
  border-radius: 15px;
  border: 0;
}
.search-button button
{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 0;
  background: #ba2e1f;
  position: absolute;
  left: 1163px;
  top: 15px;
}
.search-button button i
{
  color: wheat;
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.header-top
  {
   /* background-color: yellow; */
  }
.logo
{
  margin: 45px 0;
  padding-left: 30px;
  
}
.logo h1{
  margin-bottom: 0;
  text-transform: uppercase;
}
.logo h1::first-letter
{
  font-size: 55px;
}
.icon
{
  padding-top: 65px;
 
}
.icon button
{
 margin-left: 15px;
 border: 0;
 border-radius: 50%;
 height: 30px;
 width: 30px;
 background: black;
}
.icon button a i
{
   line-height: 30px;
   color: #fff;
   font-size: 12px;
   transition: all.5s ease;
}
.icon button a i:hover
{
  color: #ba2e1f;
}
.manuber
{
  height: 50px;
  width: 100%;
  background: black;
}
.manuber ul li
{
  display: inline;
  line-height: 50px;
  margin: 0 20px;
 
  
}

.manuber ul li a
{
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}
.manuber ul li a:hover
{
  color: red;
}
.images
{
  height: 600px;
  width: 100%;
  margin-top: 40px; 
}
.images img
{
  height: 600px;
  width: 100%;
  
}
.content h1
{
    margin-left: 130px;
    padding-top: 200px;
    font-size: 80px;
    position: relative;
}
.content p
{
  margin-left: 100px;
}
.red
{
  margin-left: 300px;
}
.red a
{
  
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  background: red;
  color: white;
  display: inline-block;
  white-space: nowrap;
  border-radius: 40px;
  border: none;
  transition: all 0.5s ease;
  text-decoration: none;
 
 
}
 .red a:hover
{
    transform: scale(1.05);
    
}
.menubox
{
  height: 50px;
  width: 100%;
  background: #ba2e1f;
}
.maincont
{
  min-height: 720px;
  width: 100%;
  background: pink;
}
.title 
{
  padding-top: 50px;
}
.img
{
  height: 200px;
  width: 100%;
  background: #ba2e1f;
  margin-top: 60px;
}
.img img
{
  height: 200px;
  width: 100%;
}

.imgs
{
  height: 64px;
  width: 64px;
  background: red;
  margin-top: 55px;
  margin-left: 15px;
 
}
.imgs img
{
  height: 64px;
  width: 64px;
}
.imgesa
{
  padding-top: 30px;
}
#end a
{
  text-decoration: none;
}
.service-1
{
  position: absolute;
  top: 1070px;
  margin-left: 95px;
 
}
.service-1 h5
{
   margin: 0;
   font-size: 17px;
}
.service-1 p
{
  font-size: 13px;
}
.service-2
{
  position: absolute;
  top: 1190px;
  margin-left: 95px;
}
.service-2 h5
{
  margin: 0;
  font-size: 17px;
}
.service-2 p
{
  font-size: 13px;
}
.service-3
{
  position: absolute;
  top: 1310px;
  margin-left: 95px;
}
.service-3 h5
{ 
  margin: 0;
  font-size: 17px;
}
.service-3 p
{
  font-size: 13px;
}
.titles
{
  padding-top: 50px;
  margin-left: 4px;
}
.service-4
{
  position: absolute;
  top: 1430px;
  margin-left: 95px;
}
.service-4 h5
{
  margin: 0;
  font-size: 17px;
}
.service-4 p
{
  font-size: 13px;
}
.end a
{
  text-decoration: none;
  float: right;
  border-bottom: 1px solid black;
}
.ser 
{
  text-decoration: none;
 float: right;
 padding-top: 60px;
}
.ser a
{
  text-decoration: none;
  border-bottom: 1px solid black;
}
.what
{
  padding-top: 50px;
  padding-left: 7px;
}
.what h5
{
  padding-top: 45px;
  padding-left: 50px;
}
.what p 
{
  padding-top: 6px;
  padding-left: 30px;
}
.what a
{
   padding-left: 250px;
   text-decoration: none;
   color: #ba2e1f;
}
.whats
{
  padding-top: 20px;
  padding-left: 40px;
}
.whats h5
{
  padding-left: 20px;
}
.whats a
{
  padding-left: 230px;
  text-decoration: none;
  color: #ba2e1f;
}


.tweete h1
{
  font-size: 20px;
  padding-top: 20px;
  border-top: 3px solid black;
}
.quick h1
{
  font-size: 20px;
  padding-top: 20px;
  border-top: 3px solid black;
  margin-left: 40px;
}
.quick li 
{
  padding: 10px 0;
  margin-left: 40px;
  border-bottom: 2px solid black;
}
.quick li a
{
  text-decoration: none;
  color: black;
}
.blog h5
{
  padding-top: 20px;
  margin-left: 40px;
}
.blog p
{
  margin-left: 40px;
}
.blog a
{
  margin-left: 150px;
  text-decoration: none;
  color: black;
}
.blog h1
{ 
  font-size: 20px;
  padding-top: 20px;
  border-top: 3px solid black;
  margin-left: 40px;

}
.con h1
{
  font-size: 20px;
  padding-top: 20px;
  border-top: 3px solid black;
  margin-left: 40px;
}
.con input 
{
  padding-top: 20px;
  margin: 15px 0;
  width: 100%;
 
}
.msg input
{
  height: 150px;
  width: 100%;
}
.footer
{
  height: 70px;
  width: 100%;
  background-color: pink;
  margin-top: 70px;
}
.icons
{
  padding-top: 20px;

}

.icons button a i
{
  line-height: 30px;
   color: #fff;
   font-size: 12px;
   transition: all.5s ease;
}
.icons button
{
 margin-left: 15px;
 border: 0;
 border-radius: 50%;
 height: 30px;
 width: 30px;
 background: black;
}
.icons button a i:hover
{
  color: #ba2e1f;
}
.foot 
{
  padding-top: 20px;
  margin-left: 220px;
}
.foot a
{
  
  color: black;
  padding: 0 10px;
  border-left: 1px solid black;
  text-decoration: none;

}